$primary-color: #343a40 !default;
$accent-color: #f8f9fa !default;

$size-base: 1rem;

@mixin dark-theme {
  background-color: $primary-color;
  color: $accent-color;
}

@mixin flex-horizontal {
  display: flex;
  align-items: center;
}

html {
  background-color: #000;
}

body {
  margin: 0;
  height: 100vh;
  overflow: auto;
  font-size: 1.2vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background-color: #f8f9fa;
  color: #212529;
  * {
    box-sizing: border-box;
  }
  @media (max-width: 1000px) {
    & {
      font-size: 1.6vw;
    }
  }
}

h1, h2, h3, h4 {
  font-weight: 300;
  text-transform: uppercase
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.title-block {
  padding: 0 2px;
  margin: 1rem;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  & > * {
    display: flex;
    box-sizing: border-box;
  }

  header {
    @include dark-theme;
    padding: 1rem;
    @include flex-horizontal;
    justify-content: space-between;
    & > * {
      flex: 1;
    }
    .app-logo {
      a {
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        white-space: nowrap;
        color: $accent-color;
      }
    }
    .group-center {
      @include flex-horizontal;
    }
    .nav {
      .navbar {
        @include flex-horizontal;
        margin: 0 $size-base;
        padding: 0;
        list-style: none;
        a {
          @include flex-horizontal;
          padding: 0 $size-base;
          white-space: nowrap;
          text-decoration: none;
          color: $accent-color;
          & > * + * {
            margin-left: ($size-base / 2);
          }
        }
      }
    }
    .user {
      @include flex-horizontal;
      & > * + * {
        margin-left: $size-base;
      }
      .user-avatar {
        width: ($size-base * 2.8);
        height: ($size-base * 2.8);
        border-radius: 100%;
        background-color: $accent-color;
        position: relative;
        margin-top: -$size-base;
        margin-bottom: -$size-base;
        @media (max-width: 768px) {
          & {
            width: ($size-base * 1.8);
            height: ($size-base * 1.8);
          }
        }
      }
      .user-name > * {
        display: block;
        max-width: ($size-base * 10);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .logout {
      white-space: nowrap;
      color: $accent-color;
    }
  }
  footer {
    padding: $size-base;
  }
  main {
    flex: 1;
    height: 100%;
    & > * {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      height: 100%;
    }

    .list-scroll {
      height: 100%;
      overflow: auto;
      flex-wrap: wrap;
      box-sizing: border-box;
      padding: 1rem 0;

      .element {
        float: left;
        display: inline-flex;
        width: 10%;
        padding-top: 10%;
        position: relative;

        & > * {
          position: absolute;
          top: 2px;
          bottom: 2px;
          left: 2px;
          right: 2px;
          @include flex-horizontal;
          justify-content: center;
          @include dark-theme;
        }
        @media (max-width: 1400px) {
          & {
            width: 14.25%;
            padding-top: 14.25%;
          }
        }
        @media (max-width: 1000px) {
          & {
            width: 20%;
            padding-top: 20%;
          }
        }
        @media (max-width: 768px) {
          & {
            width: 25%;
            padding-top: 25%;
          }
        }
      }
    }

    section {
      flex: 1;
      .list-scroll {
        margin: 0 -2px;
      }
    }
    aside {
      flex: 0 0 19.4vw;
      &[class^=side-] {
        .list-scroll {
          padding: 0 1rem;
          .element {
            width: 33%;
            padding-top: 33%;

            @media (max-width: 1400px) {
              & {
                width: 50%;
                padding-top: 50%;
              }
            }
            @media (max-width: 768px) {
              & {
                width: 100%;
                padding-top: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.filter {
  padding: 0 1rem;
  background-color: #343a40;
  color: #f8f9fa;
}

.row-group {
  @include flex-horizontal;
  justify-content: center;
  & > * {
    display: block;
    padding: 0 1rem;
  }
}

////////////////// Home /////////////////

main#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > * {
    height: initial;
  }
  .select-action {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
      & + li {
        margin-top: ($size-base / 2)
      }
      a {
        @include flex-horizontal;
        justify-content: center;
        @include dark-theme;
        padding: $size-base;
        width: ($size-base * 15);
        text-decoration: none;
      }
    }
  }
}

////////////////// end Home /////////////////

@media (max-width: 1000px) {
  .medium-hide1000 {
    display: none;
  }
}
@media (max-width: 768px) {
  .medium-hide768 {
    display: none;
  }
}

